{% extends "tutor/base.html" %}

{% block content %}
<div class="container mx-auto p-6">
<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
        <li class="me-2">
            <a href="?tab=students" hx-get="?tab=students" hx-target="#content" hx-swap="innerHTML" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Student</a>
        </li>
        <li class="me-2">
            <a href="?tab=families" hx-get="?tab=families" hx-target="#content" hx-swap="innerHTML" class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500" aria-current="page">Family</a>
        </li>
        <li class="me-2">
            <a href="?tab=appointments" hx-get="?tab=appointments" hx-target="#content" hx-swap="innerHTML" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Appointment</a>
        </li>
    </ul>
</div>
<div id="content" hx-get="?tab=students" hx-trigger="load" hx-swap="innerHTML">
    <!-- Default content will be loaded here -->
</div>
{% endblock content %}