{% extends "tutor/base.html" %}

{% load static %}

{% block content %}
<div class="container mx-auto p-6 text-center">
<h1 class="text-2xl font-bold m-4">Create Account</h1>
<form method="post" action="{% url 'users:register' %}" class="space-y-4 m-3">
   {% csrf_token %}
   
   {% for field in form %}
       <div>
           <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
           {{ field }}
           {% if field.errors %}
               <p class="text-red-500 text-xs mt-1">{{ field.errors }}</p>
           {% endif %}
       </div>
   {% endfor %}

   <button name="submit" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Register</button>
   <button name="submit_google" class="btn bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" value="submit_google">Connect to Google</button>
   <input type="hidden" name="next" value="{% url 'users:login' %}" />
</form>
</div>
{% endblock content %}